<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- Database Configuration -->
	<import resource="spring/applicationContext-DataSource.xml"/>
	<import resource="spring/HibernateSessionFactory.xml"/>
 
	<!-- Beans Declaration -->
	<import resource="spring/applicationContext-User.xml"/>
	<import resource="spring/applicationContext-Article.xml"/>
	<import resource="spring/applicationContext-Index.xml"/>
 
</beans>